include utils.pug

doctype html
html
  head
    block head
      title="Busy Bees - Home"
      link(rel='stylesheet' href='/stylesheets/home.css')
      script(src='/javascripts/index.js')
  body
    header
        div(id="top-nav")
            input(type="search" id="top-nav-search" name="searchInput")
            a(type="submit" id="search-button" href= "/home/search")="Search"
            a(type="button" id="logout-button" class="btn" href="/users/logout") Log Out
        div(id="body")
            div(id="left-nav-bar") LOGO
                div(id="tasks-title" class="text nav-text") Tasks
                    a(type="button" id=`all-tasks` class="all-tasks-button" href=`/home`)= "All Tasks"
                div(class="divider")
                a(type="submit" id="new-list-btn" href="/home/new-list") +
                div(id="lists-title" class="text nav-text") Lists
                    each list in lists
                        div(class="list-divider")
                        a(type="button" id=`list-#{list.id}` class="new-list" href=`/home/list/${list.id}`)= list.name
                        a(type="button" id=`delete-list-#{list.id}` class= "delete-button" href=`/home/list/${list.id}/delete`)= "delete"
                        //- a(type="button" id=`edit-list-#{list.id}` class= "edit-button" href="")= "edit"
                        button(id="edit-list-btn")= "edit"
                div(class="divider")
            div(id="task-lists-body")
                div(id="tasks-body-header")
                    form(id="input-bar")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="text" id="new-task-input" name="name" placeholder="Add a new task here...")
                        button(type="submit" id="new-task-btn") +
                div(class="tasks-container text")
                        each task in tasks
                            //- div(class="block-quote") |
                            p(class="task-single")= task.name
                            div(class="tasks-divider")
            div(id="list-summary")
                h3(id="list-summary-title" class="list-summary-text text") List Summary
